body {
  background-color: rgb(228, 224, 224);
}

#titulo {
  font-size: 28px;
}

.links a {
  color: #fff;
  padding: 18px;
}

.links a:hover {
  opacity: 0.8;
}

.links {
  padding-top: 10px;
  text-align: center;
  padding: 30px;
  background-color: rgb(3, 3, 77);
}

* {
  margin: 0;
}

.Imagenes {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}

.Imagenes td {
  padding: 12px;
}

.caption {
  padding-top: 10px;
  font-size: 20px;
}

.Imagenes div {
  background-color: whitesmoke;
  padding-bottom: 20px;
  border: 1px solid rgb(215, 210, 245);
}
